{include file="public/toper" /}
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item">
        <a href="">控制台</a>
      </li>
      <li class="layui-nav-item">
        <a href="">商品管理</a>
      </li>
      <li class="layui-nav-item">
        <a href="">用户</a>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd>
            <a href="">邮件管理</a>
          </dd>
          <dd>
            <a href="">消息管理</a>
          </dd>
          <dd>
            <a href="">授权管理</a>
          </dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
        </a>
        <dl class="layui-nav-child">
          <dd>
            <a href="">基本资料</a>
          </dd>
          <dd>
            <a href="">安全设置</a>
          </dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="">退了</a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">所有商品</a>
          <dl class="layui-nav-child">
            <dd>
              <a href="javascript:;">列表一</a>
            </dd>
            <dd>
              <a href="javascript:;">列表二</a>
            </dd>
            <dd>
              <a href="javascript:;">列表三</a>
            </dd>
            <dd>
              <a href="">超链接</a>
            </dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd>
              <a href="javascript:;">列表一</a>
            </dd>
            <dd>
              <a href="javascript:;">列表二</a>
            </dd>
            <dd>
              <a href="">超链接</a>
            </dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="">云市场</a>
        </li>
        <li class="layui-nav-item">
          <a href="">发布商品</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- 内容主体区域 -->
  <div class="layui-body iframe-container">

    <div class="layui-collapse">
      <div class="layui-colla-item">
        <h2 class="layui-colla-title">会员级别权益</h2>
        <div class="layui-colla-content layui-show">
          <div class="layui-collapse">
            <div class="layui-colla-item">
              <h2 class="layui-colla-title">会员级别</h2>
              <div class="layui-colla-content ">
                <table class="layui-table" id="levelTable"> </table>
                <form class="layui-form" layui-filter="filterLevelForm" action="" method="POST">

                  <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">级别序号</label>
                      <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入序号" lay-verify="required" autocomplete="off" name="levelId" id="levelId">
                      </div>
                    </div>

                    <div class="layui-inline">
                      <label class="layui-form-label">级别名称</label>
                      <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入级别名称" autocomplete="off" name="levelName" lay-verify="required">
                      </div>
                    </div>
                  </div>


                  <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">售卡金额</label>
                      <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入金额" autocomplete="off" name="saleAmount" lay-verify="required">
                      </div>
                    </div>

                    <div class="layui-inline">
                      <label class="layui-form-label">推荐人积分</label>
                      <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入推荐人积分" autocomplete="off" name="referralIntegral" lay-verify="required">
                      </div>
                    </div>
                  </div>



                  <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">推荐功能</label>
                      <div class="layui-input-inline">
                        <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" name="founctionSwitch">
                      </div>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">会员权益</label>
                    <div class="layui-input-block">
                      <input class="layui-input" type="text" placeholder="请输入会员权益" autocomplete="off" name="rights" lay-verify="required">
                    </div>
                  </div>


                  <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                      <textarea class="layui-textarea" placeholder="请输入内容" name="notes"></textarea>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-normal" lay-filter="addLevelFilter" lay-submit="">添加</button>
                    </div>

                </form>
                </div>

              </div>
              <div class="layui-colla-item">
                <h2 class="layui-colla-title">会员服务</h2>
                <div class="layui-colla-content layui-show">
                  <form class="layui-form" lay-filter="filterServicesTable">
                    <div class="layui-form-item">
                      <div class="layui-inline">
                        <label class="layui-form-label">会员级别</label>
                        <div class="layui-input-inline">
                          <input class="layui-input" type="text" placeholder="请输入服务名称" name="serviceName" value="百元" autocomplete="off">
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addServiceFilter" id="addService">添加</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
              <div class="layui-colla-item">
                <h2 class="layui-colla-title">会员折扣</h2>
                <div class="layui-colla-content">
                  <p> 会员折扣</p>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      © layui.com - 底部固定区域
    </div>
  </div>

  <script>
    layui.use(['element', 'layer', 'table', 'form'], function () {
      var $ = layui.$
        , element = layui.element
        , layer = layui.layer
        , table = layui.table
        , form = layui.form
        , jq = layui.jquery
        ;

      table.render({
        elem: "#levelTable"
        , url: ""
        , height: 200
        , cols: [[
          { type: "checkbox", fixed: "left" },
          { field: "level_id", title: "级别序号", width: 120, fixed: true }
          , { field: "level_name", title: "级别名称", width: 120 }
          , { field: "sale_amount", title: "售卡金额", width: 120 }
          , { field: "validity", title: "有效期", width: 120 }
          , { field: "referral_integral", title: "推荐人积分", width: 150 }
          , { field: "founction", title: "推荐功能", width: 120 }
          , { field: "cards_num", title: "卡片总数", width: 120 }
          , { field: "wx_member", title: "微信会员", width: 120 }
          , { field: "rights", title: "会员权益", width: 120 }
          , { field: "notes", title: "备注", width: 120 }
        ]]
      });


      form.on('submit(addLevelFilter)', function (data) {
        layer.alert(JSON.stringify(data.field))


        return false;
      });

      form.on("submit(addServiceFilter)", function (data) {
        // layer.alert(JSON.stringify(data.field));
        var param = data.field;
        $.post('{:url("index/level")}', param, function (data) {
          // console.log("dta");
          console.log(data);
        });
        return false;
      });

    });

  </script> {include file="public/footer" /}