{include file="public/toper"}
<div class="layui-collapse">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">会员级别权益</h2>
        <div class="layui-colla-content layui-show">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">会员级别</h2>
                    <div class="layui-colla-content ">
                        <table class="layui-table" id="levelTable" lay-filter="filterLevelTable"> </table>
                        <form class="layui-form" layui-filter="filterLevelForm" action="" method="POST">

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">级别序号</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" type="text" placeholder="请输入序号" lay-verify="required" autocomplete="off" name="levelId" id="levelId">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">级别名称</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" type="text" placeholder="请输入级别名称" autocomplete="off" name="levelName" value="huangtong" lay-verify="required">
                                    </div>
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">售卡金额</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" type="text" placeholder="请输入金额" autocomplete="off" name="saleAmount" value="50" lay-verify="required">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">推荐人积分</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" type="text" placeholder="请输入推荐人积分" autocomplete="off" name="referralIntegral" value="500" lay-verify="required">
                                    </div>
                                </div>
                            </div>



                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">推荐功能</label>
                                    <div class="layui-input-inline">
                                        <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" value="关闭" name="function" lay-filter="filterFunctionSwitch">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">会员权益</label>
                                <div class="layui-input-block">
                                    <input class="layui-input" type="text" placeholder="请输入会员权益" autocomplete="off" value="沙发上" name="rights" lay-verify="required">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
                                    <textarea class="layui-textarea" placeholder="请输入内容" name="notes"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-normal" lay-filter="addLevelFilter" lay-submit="">添加</button>
                                </div>

                        </form>
                        </div>

                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">会员服务</h2>
                        <div class="layui-colla-content layui-show">
                            <table class="layui-table" id="serviceTable" lay-filter="filterServiceTable"></table>
                            <form class="layui-form" lay-filter="filterServicesTable">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">会员级别</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <select id="levelSelect" name="levelSelect" id="levelSelect"></select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">服务名称</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <select id="serviceSelect" name="serviceSelect" id="serviceSelect"></select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">服务次数</label>
                                        <div class="layui-input-inline" style="width: 100px">
                                            <input class="layui-input" type="text" placeholder="请输入次数" name="serviceTimes" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addServiceFilter" id="addService">添加</button>
                                        </div>
                                    </div>
                                </div>




                            </form>
                        </div>

                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">会员折扣</h2>
                        <div class="layui-colla-content">
                            <p> 会员折扣</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script type="text/html" id="toolbarOperate">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn  layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    </script>


    <script>
        layui.use(['element', 'table', 'form'], function () {
            var $ = layui.$
                , element = layui.element
                , table = layui.table
                , form = layui.form
                ;



            form.on('switch(filterFunctionSwitch)', function (data) {
                this.value = (this.value == "关闭") ? "开启" : "关闭";
            });



            form.on('submit(addLevelFilter)', function (data) {
                var param = data.field;
                $.post('{:url("vip/addLevel")}', param, function (result) {
                    if (result == 1) {
                        table.reload('levelTable', {
                            page: {
                                curr: 1
                            }

                        });
                    }
                });

                return false;
            });

            form.on("submit(addServiceFilter)", function (data) {
                var param = data.field;
                $.post('{:url("vip/index")}', param, function (data) {
                    console.log(JSON.stringify(param));
                    console.log(data);

                });
                return false;
            });

            table.render({
                elem: "#levelTable "
                , url: "/index/vip/index"
                , height: 300
                , width: 1000
                , cols: [[
                    { type: 'checkbox', fixed: "left ", width: 50, fixed: "left" },
                    { field: 'level_id', title: "级别序号 ", width: 120 }
                    , { field: 'level_name', title: "级别名称 ", width: 120 }
                    , { field: 'sale_card_amount', title: "售卡金额 ", width: 120 }
                    , { field: 'validity', title: "有效期 ", width: 120 }
                    , { field: 'referral_integral', title: "推荐人积分 ", width: 150 }
                    , { field: 'function', title: "推荐功能 ", width: 120 }
                    , { field: 'cards_num', title: "卡片总数 ", width: 120 }
                    , { field: 'wx_member', title: "微信会员 ", width: 120 }
                    , { field: 'rights', title: "会员权益 ", width: 120 }
                    , { field: 'notes', title: "备注 ", width: 120 }
                    , { fixed: 'right', title: "操作", align: "center", width: 178, toolbar: '#toolbarOperate' }
                ]]
                , page: true
            });


            table.on('tool(filterLevelTable)', function (obj) {
                var data = obj.data;

                if (obj.event == "detail") {
                    layer.alert(JSON.stringify(data));
                } else if (obj.event == "edit") {
                    layer.alert(JSON.stringify(data));
                } else if (obj.event == "delete") {


                    layer.confirm("确定要删除" + data.level_name + "吗？", { title: "删除提示" }, function (index) {
                        $.post('{:url("vip/deleteLevel")}', data, function (result) {
                            console.log(result);

                            layer.close(index);
                            if (result == 1) {
                                table.reload("levelTable", {
                                    page: { 
                                        curr: 1
                                    }
                                });
                            }

                        });
                    });
                }

            });
        });

    </script>